


/*make button go to the middle*/
#image_Home_customer{
    background-image: url("../images/reno1.jpg");
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;

    width: 50%; /*turn to 100% to be responsive(mobile)*/
    height: 100%; /*turn to auto to be responsive(mobile)*/
    float:left;
}

#image_Home_customer:hover {
    background-color: rgba(255,255,255,0);
}


#image_Home_contractor{
    background-image: url("../images/reno2.jpg");
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    width: 50%; /*turn to 100% to be responsive(mobile)*/
    height: 100%; /*turn to auto to be responsive(mobile)*/
    float:right;
}

#image_Home_contractor:hover {
    background-color: rgba(255,255,255,0);
}

/*---------------------------*/



/*---------------------------*/

.shadow_fade {
  transition: box-shadow .3s;
  border: 1px solid #ccc;
  background: #fff;
}
.shadow_fade:hover {
  box-shadow: 0 0 150px rgba(33,33,33,.2); 
}


.logo {
    height: 37px;
    width: 93px;
    margin-top: 8px;
}

.main-infobox {
    width:40%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 40px #888888;
    border-radius: 5px;
    margin: auto ;
    margin-top:50%;
    margin-bottom: 50%;
}

.main-infobox h2{
    font-size: 19px;
}

a.navbar-brand {
    padding: 0;
}

#nav{
    margin-bottom: 0px;
}

.filler_bottom{
    padding-bottom: 20%;
}

/* make body 100% of the webpage */
html,body{
    min-height:100%;
    min-width:100%;
    margin:0px;
}

.body_all{
    min-height:100%;
    min-width:100%;
}
/* ------------------------------- */

/* footer  css */

.body_all h1{
    border-bottom: 1px solid #eee;
}

.footer {
    background-color: #424242;
    text-align: center;
}

footer a{
    margin-left: 6%;
    margin-right:6%;
    color:#e7e7e7;
    text-decoration:none;
    font-family: sans-serif;
}

footer a:hover{
    color:white;
    text-decoration:none;
    font-family: sans-serif;
}

footer p{
    color:#666666;
    margin:1.9%;
}

/* about page css */

#body_about{
    font-family: sans-serif;
    text-align: center;
    
}

#body_about h1,h2{
    margin:2%;
}

#body_about #first_p{
    margin-bottom: 4%;
}


/* ------------------------ */
.img-caption {
    position: absolute;
    top: 30%;
    font-size: 30px;

}


.register-form {
    padding-left: 10px;
    padding-bottom: 10px;
}


/* contact us page css */


#head_contact{
    background-image: url("../images/reno1.jpg");
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    height:22.5%;
    background-position-y: 500px;
}
#head_contact h1{
    margin-left:10%;
    margin-right:10%;
    color:#424242;
}
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}

.alert, .alert-success, .alert-danger {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*----------------------------------when screen is smaller than 480px--------------------------------*/
@media only screen and (max-width:480px){
    
#image_Home_customer{
    background-image: url("../images/reno1.jpg");
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;

    width: 100%; /*turn to 100% to be responsive(mobile)*/
    height: 50%; /*turn to auto to be responsive(mobile)*/
}

    #image_Home_customer h2 {
        margin-top:3%;
        font-size: 94%;
    }
    
    
    #image_Home_contractor h2 {
        margin-top:3%;
        font-size: 94%;
    }
    
#image_Home_contractor{
    background-image: url("../images/reno2.jpg");
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    width: 100%; /*turn to 100% to be responsive(mobile)*/
    height: 50%; /*turn to auto to be responsive(mobile)*/
}
.main-infobox {
    width:40%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 40px #888888;
    border-radius: 5px;
    margin: auto ;
    margin-top:30%;
    margin-bottom:30%;
}

.alert, .alert-success, .alert-danger {
    width: 100%;

}
