.logo {
    height: 37px;
    width: 93px;
    margin-top: 8px;
}

.main-img {
    max-width: 100%;
    opacity: 0.5;
    border-radius: 5px;
}

.main-infobox {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1%;
    border-radius: 10px;
}

a.navbar-brand {
    padding: 0;
}

/* make body 100% of the webpage */
html,body{
    height:100%;
    width:100%;
    margin:0px;
}

.body_all{
    height:100%;
    width:100%;
    margin:0px;
}
/* ------------------------------- */

/* footer  css */

.footer {
    background-color: #424242;
    position:static;
    height: 120px;
    text-align: center;
}

footer a{
    margin-left: 6%;
    margin-right:6%;
    color:#e7e7e7;
    text-decoration:none;
    font-family: sans-serif;
}

footer a:hover{
    color:white;
    text-decoration:none;
    font-family: sans-serif;
}

footer p{
    color:#666666;
    margin:1.9%;
}

/* about page css */

#body_about{
    font-family: sans-serif;
    text-align: center;
    
}

#body_about h1,h2{
    margin:2%;
}

#body_about #first_p{
    margin-bottom: 4%;
}


/* ------------------------ */
.img-caption {
    position: absolute;
    top: 30%;
    font-size: 30px;

}


/* contact us page css */


#head_contact{
    background-image: url("../images/reno1.jpg");
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    height:22.5%;
    background-position-y: 500px;
}
#head_contact h1{
    margin-left:10%;
    margin-right:10%;
    color:#424242;
}
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}

