.logo {
    height: 37px;
    width: 93px;
    margin-top: 8px;
}

.main-img {
    max-width: 100%;
    opacity: 0.5;
    border-radius: 5px;
}

.main-infobox {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1%;
    border-radius: 10px;
}

a.navbar-brand {
    padding: 0;
}

.footer {
    background-color: #424242;

    height: 120px;
    text-align: center;
}

html,body{
    height:100%;
    width:100%;
    margin:0px;
}

.body_all{
    height:100%;
    width:100%;
    margin:0px;
}

footer a{
    margin-left: 100px;
    margin-right:100px;
    color:#e7e7e7;
    text-decoration:none;
    font-family: sans-serif;
}

footer a:hover{
    color:white;
    text-decoration:none;
    font-family: sans-serif;
}

footer p{
    color:#666666;
    margin:1.9%;
}

#body_about{
    font-family: sans-serif;
    text-align: center;
    height:100%;
    margin:5%;
}

#body_about h1,h2{
    margin:2%;
}

#body_about #first_p{
    margin-bottom: 4%;
}


.img-caption {
    position: absolute;
    top: 30%;
    font-size: 30px;

}

